{% extends 'base.html' %}
 {% block title %}
  About Page
 {% endblock %}
 {%block head%}
 <h1>About page</h1>
 {% endblock %}


 {% block body %}
  <div>
   <p>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel lacus vel nibh imperdiet tincidunt at luctus tortor. Nunc aliquam lacus non tellus lacinia,
   pellentesque <strong>convallis tellus tincidunt</strong>. Quisque a varius mauris. Praesent venenatis laoreet quam id imperdiet. Phasellus at massa non leo ullamcorper
    tincidunt. Proin lacinia felis risus, vel tincidunt mi vehicula a. Curabitur mollis lacus vitae felis accumsan viverra. Vestibulum arcu massa, posuere
    ut nunc tempor, tempor tincidunt mi. Sed dapibus luctus purus ut aliquam. Praesent ut sodales justo, non laoreet nibh.
    Cras hendrerit quam non euismod iaculis. Praesent ornare, mauris eget semper molestie, tortor sem facilisis elit, v
    itae dignissim sapien nunc sit amet augue. Etiam quis lobortis ex, sed lacinia massa. Nunc mattis elementum leo, non varius odio semper a.
   </p>
  </div>
 {% endblock %}