{% extends 'base.html' %}
{% block title %}
 For the Love of Cookies
{% endblock %}
 Cookies Cookies Cookies Cookies Cookies
{%block head%}
<h1> For the Love of Cookies</h1>
{% endblock %}

{% block body %}
<!-- <form action="#" method="POST">-->
<!--  <div class="form-group">-->
<!--    <label> Enter the URL link you wish to scrape:</label>-->
<!--    <input class="input is-link" type="text" placeholder="URL link" name="link">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label>Enter the HTML tag you wish to scrape: </label>-->
<!--    <input class="input is-normal" type="text" placeholder="HTML TAG" name="tag">-->
<!--  </div>-->
<!--  <button type="submit" class="button is-dark" class="button is-large">Scrape!</button>-->
<!--</form>-->
<img src="https://miro.medium.com/max/1400/1*o5LOLefanIssAwhERqfkeg.jpeg"
{% endblock %}
